shopsmart/dist/
shopsmart/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# files

node_modules/


# ========= BACKEND ========


# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
db.sqlite3
db.sqlite3-journal
mediafiles/

# Poetry
.venv/
venv/
dist/
*.egg-info/

# Node / Vue frontend
shopsmart/node_modules/
shopsmart/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
